// place your custom styles here

// 设置全局背景
body {
  // 设置背景颜色
  background-color: #f5f5f5;
  color: #000000;
}
  // // 可选：设置背景图片
  // background-image: url('https://i.postimg.cc/13h3922C/bg.jpg');
  // // 背景图片固定不动
  // background-attachment: fixed;
  // // 背景图片居中
  // background-position: center;
  // // 背景图片不重复
  // background-repeat: no-repeat;
  // // 背景图片缩放
  // background-size: cover;